<!--The content below is only a placeholder and can be replaced.-->
<!-- Vertical Steps -->
<div id="accordion1" class="ml-step-container">

    <!-- STEP 1 -->

    <div class="ml-step-header completed">
        <div class="ml-step-header-elements"> <span class="ml-step-numbers ml-completed-step fa"></span>
            <h3>Personal Information</h3>
        </div>
        <hr class="ml-step-hr">
    </div>
    <div class="ml-step-content completed" id="step1">
        <div class="ml-step-content-div">
            <p>Personal Information Goes Here</p>
        </div>
        <hr class="ml-step-hr">
    </div>

    <!-- STEP 2 -->
    <div class="ml-step-header expanded" id="step2">
        <div class="ml-step-header-elements"> <span class="ml-step-numbers ml-current-step">2</span>
            <h3>Beneficiary Information</h3>
        </div>
        <hr class="ml-step-hr">
    </div>
    <div class="ml-step-content">
        <div class="ml-step-content-div"> <img src="/assets/img/form-1.png" width="398" height="469" alt="" /> <br>
            <br>
            <br>
            <br>
            <img src="/assets/img/form-buttons-1.png" alt="" width="395" height="41" /> </div>
        <hr class="ml-step-hr">
    </div>

    <!-- STEP 3 -->
    <div class="ml-step-header" id="step3">
        <div class="ml-step-header-elements"> <span class="ml-step-numbers">3</span>
            <h3>Existing Insurance</h3>
        </div>
    </div>
    <div class="ml-step-content">
        <div class="ml-step-content-div"> Nam dui erat, auctor a, dignissim quis. </div>
        <hr class="ml-step-hr">
    </div>

    <!-- STEP 4 -->
    <div class="ml-step-header" id="step4">
        <div class="ml-step-header-elements"> <span class="ml-step-numbers">4</span>
            <h3>Beneficiary Insurance</h3>
        </div>
    </div>
    <div class="ml-step-content">
        <div class="ml-step-content-div"> Nam dui erat, auctor a, dignissim quis. </div>
        <hr class="ml-step-hr">
    </div>

    <!-- STEP 5 -->
    <div class="ml-step-header last-child" id="step5">
        <div class="ml-step-header-elements"> <span class="ml-step-numbers">5</span>
            <h3>About Your Absence</h3>
        </div>
    </div>
    <div class="ml-step-content">
        <div class="ml-step-content-div"> Nam dui erat, auctor a, dignissim quis. </div>
    </div>

</div>

<router-outlet></router-outlet>